.faq-hero {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 60px;
  width: 100%;
  height: 80vh;
  padding: 0 60px;
  padding-top: 120px;
  box-sizing: border-box;
}

.faq-hero-left {
  flex: 1;
}

.faq-info-heading {
  color: #354923;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.faq-info-para p {
  color: #354923;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  max-width: 480px;
}

.faq-hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.faq-img {
  width: 400px;
  height: auto;
}
.question-category {
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0 15px;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.question-item {
  background-color: #f9f9f9;
  padding: 15px 20px;
  border-radius: 10px;
}

.question {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.answer {
  margin-top: 8px;
  font-size: 16px;
  color: #555;
}

.faq-content {
  display: flex;
  padding: 40px 60px;
  gap: 50px;
}

.faq-sidebar {
  margin-top: 40px;
  margin-left: 40px;
  width: 300px;
}

.faq-sidebar ul {
  list-style: none;
  padding: 0;
}

.faq-sidebar li {
  margin-bottom: 15px;
  color: #132a13;
  cursor: pointer;
}

.faq-sidebar li:hover {
  color: #90a955;
}

.faq-main {
  flex: 1;
}

.faq-main h2 {
  margin-bottom: 20px;
}

.faq-question-item {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.faq-question {
  color: #132a13;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.faq-answer {
  margin-top: 30px;
  color: #6f732f;
}

.ask-btn {
  margin-top: 15px;
  padding: 12px 24px;
  background-color: #4f772d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  display: inline-flex;
  align-items: center;
  gap: 8px; 
}


.ask-btn .arrow {
  margin-bottom: 0.25rem;
  margin-left: 0.5rem;
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.ask-btn:hover {
  background-color: #3d5f22;
  transform: translateY(-2px);
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
}

.ask-btn:hover .arrow {
  transform: translateX(5px);
}

.ask-btn:active {
  transform: scale(0.97);
}
