.logo {
  /* height: 150px;
  width: 150px; */
  font-size: 50px;
  color: #90a955;
  font-family: "Smooch", sans-serif;
}

.navbar {
  padding-left: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 110px;
}
.nav-links {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style: none;
}

.nav-item {
  text-decoration: none !important;
  color: #90a955;
  padding: 15px;
  border-radius: 1rem;
  font-family: "Figtree", sans-serif;
  font-weight: 900;
}

.nav-item:hover {
  background-color: #132a13;
  color: #ecf39e;
}

.profile {
  color: #90a955;
  cursor: pointer;
}

.profile:hover {
  color: #132a13;
}
