.logo {
  /* height: 150px;
  width: 150px; */
  font-size: 50px;
  color: #90a955;
  font-family: "Smooch", sans-serif;
}

.navbar {
  padding-left: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 110px;
}
.nav-links {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style: none;
}

.nav-item {
  text-decoration: none !important;
  color: #90a955;
  padding: 15px;
  border-radius: 1rem;
  font-family: "Figtree", sans-serif;
  font-weight: 900;
}

.nav-item:hover {
  background-color: #132a13;
  color: #ecf39e;
}

.profile {
  color: #90a955;
  cursor: pointer;
}

.profile:hover {
  color: #132a13;
}
/* Other navbar styles */

.profile-icon-container {
  position: relative;
  cursor: pointer;
}

.profile-menu-tooltip {
  position: absolute;
  top: 100%;
  right: -60px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  z-index: 1000;
  padding: 10px 0;
  margin-top: 10px;
  position: absolute;
}

.profile-menu-tooltip::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 65px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #ddd transparent;
}

.profile-menu-tooltip::after {
  content: "";
  position: absolute;
  bottom: calc(100% - 1px);
  right: 65px;
  border-width: 9px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.profile-menu-tooltip ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-menu-tooltip li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.2s ease-in-out;
}

.profile-menu-tooltip li a:hover {
  background-color: #ecf39e;
}
